.App {
  text-align: center;
  text-align: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
}
.animal{
  color: white;
  font-size: 30px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}